@import '@/styles/quasar-variables.sass';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body, html{
  font-weight: normal;
  font-size: large;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  color: $primary !important; 
  height: 100dvh;
  display: flex;
  flex: 1;
  overflow:hidden;
  background-image: linear-gradient(to left top, #ffd600, #ffcc00, #fec300, #fdb900, #fcb000, #ffa218, #ff9527, #ff8833, #ff764a, #ff6660, #ff5a75, #f4538a);
}

#app {
  margin: 0 auto;
  height: 100%;
  padding: 2rem;
  flex: 1;
 
}

.glassmorphism {
  background: rgba(0, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(0, 255, 255, 0.13);
  overflow: hidden;
}

.img-wrapper {
  border-radius: 0.7rem;
  border: 1px solid rgba(0, 255, 255, 0.13);
  overflow: hidden;
}
